.mangas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.manga-card {
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.manga-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.manga-card h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.manga-card p{
    font-size: 0.9rem;
    color: #555;
}